.datatable-qlgt {
    height: 600px;
    padding: 20px;

    .datagrid-qldt {
        width: auto;
        height: auto;
    }

    .datatableTitle-qlgt {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        font-size: 24px;
        display: flex;
        font-size: 24px;
        color: #333;
        /* Thêm dòng này */
        justify-content: center;
        /* Thêm dòng này */
        align-items: center;
        /* Thêm dòng này */
        padding: 10px;
        width: 100%;

        margin-bottom: 20px;
        align-items: center;



    }


}