.single-giaotrinh {
    width: 100%;
    display: flex;

    .single-giaotrinhContainer {
        flex: 6;

        .single-giaotrinhtop,
        .single-giaotrinhbottom {
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin: 20px;
            display: flex;


            h1 {
                color: lightgray;
                font-size: 20px;
            }

            .single-giaotrinhleft {
                flex: 1;
                text-align: center;

                .single-giaotrinhimg {
                    width: 200px;
                    height: 260px;
                    border-radius: 2%;
                    border: 2px solid gray;
                    object-fit: cover;
                }
            }

            .single-giaotrinhright {
                flex: 2;

                .single-giaotrinh-fill {
                    margin-bottom: 10px;
                    display: flex; // Sử dụng flexbox để căn chỉnh phần tử trên cùng một hàng
                    flex-wrap: wrap;
                    gap: 100px;
                }

                button {
                    width: 150px;
                    padding: 10px;
                    border: none;
                    border-radius: 2%;
                    background-color: teal;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    margin-top: 10px;

                    &:hover {
                        background-color: rgb(13, 185, 185);
                    }
                }

            }
        }
    }
}